# folders
.hypothesis/
.idea/
.mypy_cache/
.pytest_cache/
.tox/
.venv/
.vscode/
__pycache__/
dist/
node_modules/
results/
site/
.scannerwork/

# files
*.iml
.coverage
.DS_Store
.python-version
coverage.*
.env
