# folders
*.egg-info/
.auto_pytabs_cache/
.hypothesis/
.idea/
.mypy_cache/
.pytest_cache/
.scannerwork/
.unasyncd_cache/
.venv/
.venv*
.vscode/
__pycache__/
assets/
build/
dist/
html/
node_modules/
results/
site/
target/

# files
**/*.so
**/*.sqlite
**/*.sqlite*
*.iml
.DS_Store
.coverage
.ruff_cache
/docs/_build/
coverage.*
setup.py

# pdm
.pdm.toml
.pdm-python
.pdm-build/
# pdm - PEP 582
__pypackages__/

# pyenv / rtx / asdf
.tool-versions
.python-version
/.dmypy.json

# test certificates
certs/
pdm.toml
