default_language_version:
  python: "3.11"
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-ast
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-toml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.2.2
    hooks:
      - id: pyupgrade
        args: ["--py38-plus"]
  - repo: https://github.com/hadialqattan/pycln
    rev: v2.1.2
    hooks:
      - id: pycln
        args: [--config=pyproject.toml]
  - repo: https://github.com/pycqa/isort
    rev: 5.10.1
    hooks:
      - id: isort
  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black
        args: [--config=./pyproject.toml]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.2
    hooks:
      - id: codespell
  - repo: https://github.com/asottile/blacken-docs
    rev: v1.12.1
    hooks:
      - id: blacken-docs
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v3.0.0-alpha.4"
    hooks:
      - id: prettier
        exclude: docs
  - repo: https://github.com/pycqa/bandit
    rev: 1.7.4
    hooks:
      - id: bandit
        exclude: "test_*"
        args: ["-iii", "-ll", "-s=B308,B703"]
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.32.2
    hooks:
      - id: markdownlint
        args:
          [
            --disable=MD013,
            --disable=MD033,
            --disable=MD046,
            --disable=MD050,
            --disable=MD052,
            --disable=MD012,
          ]
  - repo: https://github.com/PyCQA/docformatter
    rev: v1.5.0
    hooks:
      - id: docformatter
        args:
          [
            --in-place,
            --close-quotes-on-newline,
            --wrap-descriptions=120,
            --wrap-summaries=120,
          ]
  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.1.1
    hooks:
      - id: pydocstyle
        exclude: "test*|examples*"
        additional_dependencies:
          - pydocstyle[toml]
  - repo: https://github.com/PyCQA/flake8
    rev: 5.0.4
    hooks:
      - id: flake8
        additional_dependencies:
          [
            "flake8-bugbear",
            "flake8-comprehensions",
            "flake8-mutable",
            "flake8-print",
            "flake8-simplify",
            "flake8-type-checking",
            "flake8-implicit-str-concat",
            "flake8-noqa",
            "flake8-return",
            "flake8-secure-coding-standard",
            "flake8-encodings",
            "flake8-use-fstring",
            "flake8-use-pathlib",
          ]
  - repo: https://github.com/johnfraney/flake8-markdown
    rev: v0.4.0
    hooks:
      - id: flake8-markdown
  - repo: https://github.com/ariebovenberg/slotscheck
    rev: v0.16
    hooks:
      - id: slotscheck
        exclude: "test_*"
  - repo: https://github.com/pycqa/pylint
    rev: "v2.15.5"
    hooks:
      - id: pylint
        exclude: "test_*"
        args: ["--unsafe-load-any-extension=y"]
        additional_dependencies:
          [
            aiomcache,
            fsspec,
            multidict,
            opentelemetry-instrumentation-asgi,
            orjson,
            piccolo,
            picologging,
            pydantic,
            pydantic_factories,
            pydantic_openapi_schema,
            pyyaml,
            redis,
            sqlalchemy,
            starlette,
            starlite_multipart,
            structlog,
            tortoise_orm,
          ]
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: "v0.990"
    hooks:
      - id: mypy
        additional_dependencies:
          [
            aiomcache,
            fsspec,
            httpx,
            multidict,
            opentelemetry-instrumentation-asgi,
            opentelemetry-sdk,
            orjson,
            piccolo,
            picologging,
            pydantic,
            pydantic_factories,
            pydantic_openapi_schema,
            pytest,
            sqlalchemy,
            sqlalchemy2-stubs,
            starlette,
            starlite_multipart,
            structlog,
            tortoise-orm,
            types-beautifulsoup4,
            types-freezegun,
            types-pyyaml,
            types-redis,
          ]
  - repo: https://github.com/RobertCraigie/pyright-python
    rev: v1.1.279
    hooks:
      - id: pyright
        additional_dependencies:
          [
            aiomcache,
            beautifulsoup4,
            brotli,
            cryptography,
            freezegun,
            fsspec,
            httpx,
            hypothesis,
            jinja2,
            mako,
            multidict,
            opentelemetry-instrumentation-asgi,
            opentelemetry-sdk,
            orjson,
            piccolo,
            picologging,
            pydantic,
            pydantic_factories,
            pydantic_openapi_schema,
            pytest,
            pyyaml,
            redis,
            sqlalchemy,
            sqlalchemy2-stubs,
            starlette,
            starlite_multipart,
            structlog,
          ]
