repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-ast
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: debug-statements
      - id: end-of-file-fixer
        exclude: "\\.idea/(.)*"
      - id: trailing-whitespace
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.37.3
    hooks:
      - id: pyupgrade
        args: ["--py37-plus"]
  - repo: https://github.com/pycqa/isort
    rev: 5.10.1
    hooks:
      - id: isort
  - repo: https://github.com/psf/black
    rev: 22.6.0
    hooks:
      - id: black
        args: [--config=./pyproject.toml]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
      - id: codespell
        args: [-L, crate]
  - repo: https://github.com/asottile/blacken-docs
    rev: v1.12.1
    hooks:
      - id: blacken-docs
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v2.7.1"
    hooks:
      - id: prettier
  - repo: https://github.com/pycqa/bandit
    rev: 1.7.4
    hooks:
      - id: bandit
        exclude: "test_*"
        args: ["-iii", "-ll", "-s=B308,B703"]
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.32.1
    hooks:
      - id: markdownlint
        args: [--disable=MD013, --disable=MD033, --disable=MD050]
  - repo: https://github.com/hadialqattan/pycln
    rev: v2.1.1
    hooks:
      - id: pycln
        args: [--config=pyproject.toml]
  - repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
      - id: fmt
        name: "cargo-fmt"
      - id: cargo-check
      - id: clippy
  - repo: https://github.com/hadialqattan/pycln
    rev: v2.1.1
    hooks:
      - id: pycln
        args: [--config=pyproject.toml]
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.2
    hooks:
      - id: flake8
        additional_dependencies:
          [
            "flake8-bugbear",
            "flake8-comprehensions",
            "flake8-mutable",
            "flake8-print",
            "flake8-simplify",
            "flake8-type-checking",
            "flake8-pytest-style",
            "flake8-implicit-str-concat",
            "flake8-noqa",
          ]
  - repo: https://github.com/johnfraney/flake8-markdown
    rev: v0.3.0
    hooks:
      - id: flake8-markdown
  # - repo: https://github.com/ariebovenberg/slotscheck
  #   rev: v0.14.1
  #   hooks:
  #     - id: slotscheck
  #       exclude: "^(?!starlite/)"
  #       additional_dependencies:
  #         [
  #           jinja2,
  #           mako,
  #           orjson,
  #           pydantic,
  #           pydantic_factories,
  #           pydantic_openapi_schema,
  #           pyyaml,
  #           requests,
  #           sqlalchemy,
  #           starlette,
  #         ]
  #       args: [--no-strict-imports]
  - repo: https://github.com/pycqa/pylint
    rev: "v2.14.5"
    hooks:
      - id: pylint
        exclude: "test_*"
        args: ["--unsafe-load-any-extension=y"]
        additional_dependencies:
          [
            setuptools_rust,
            orjson,
            piccolo,
            pydantic,
            pydantic_factories,
            pydantic_openapi_schema,
            pyyaml,
            sqlalchemy,
            starlette,
            tortoise_orm,
          ]
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: "v0.971"
    hooks:
      - id: mypy
        additional_dependencies:
          [
            orjson,
            piccolo,
            pydantic,
            pydantic_factories,
            pydantic_openapi_schema,
            sqlalchemy,
            starlette,
            types-PyYAML,
            types-freezegun,
            types-redis,
            types-requests,
          ]
