[tool.poetry]
name = "starlite"
version = "1.26.0"
description = "Light-weight and flexible ASGI API Framework"
authors = ["Na'aman Hirschfeld <nhirschfeld@gmail.com>"]
maintainers = ["Na'aman Hirschfeld <nhirschfeld@gmail.com>", "Peter Schutt <peter.github@proton.me>", "Cody Fincher <cody.fincher@gmail.com>"]
license = "MIT"
readme = "README.md"
homepage = "https://github.com/starlite-api/starlite"
repository = "https://github.com/starlite-api/starlite"
documentation = "https://starlite-api.github.io/starlite"
keywords = ["api", "rest", "http", "asgi", "pydantic", "starlette", "fastapi", "framework", "websocket"]
classifiers = [
  "Development Status :: 5 - Production/Stable",
  "Environment :: Web Environment",
  "License :: OSI Approved :: MIT License",
  "Natural Language :: English",
  "Operating System :: OS Independent",
  "Programming Language :: Python :: 3.7",
  "Programming Language :: Python :: 3.8",
  "Programming Language :: Python :: 3.9",
  "Programming Language :: Python :: 3.10",
  "Programming Language :: Python :: 3.11",
  "Programming Language :: Python",
  "Topic :: Internet :: WWW/HTTP",
  "Topic :: Software Development :: Libraries",
  "Topic :: Software Development",
  "Typing :: Typed",
]
include = ["CHANGELOG.md"]
packages = [
    { include = "starlite" },
]

[tool.poetry.dependencies]
python = ">=3.7,<4.0"
brotli = { version = "*", optional = true }
cryptography = { version = "*", optional = true }
httpx = { version = ">=0.22", optional = true }
orjson = "*"
picologging = { version = "*", optional = true }
pydantic = "*"
pydantic-factories = "*"
pydantic-openapi-schema = "*"
pyyaml = "*"
starlette = ">=0.21"
starlite-multipart = ">=1.2.0"
structlog = { version = "*", optional = true }
typing-extensions = "*"

[tool.poetry.group.dev.dependencies]
aiosqlite = "*"
brotli = "*"
cryptography = "*"
freezegun = "*"
greenlet = "*"
httpx = ">=0.22"
hypothesis = "*"
jinja2 = "*"
mako = "*"
piccolo = "*"
picologging = "*"
pre-commit = "*"
pytest = "*"
pytest-asyncio = "*"
pytest-cov = "*"
redis = "*"
sqlalchemy = "*"
structlog = "*"
tortoise-orm = "*"
tox = "*"

[tool.poetry.extras]
testing = ["httpx", "cryptography"]
brotli = ["brotli"]
cryptography = ["cryptography"]
full = ["httpx", "brotli", "cryptography", "picologging", "structlog"]
picologging = ["picologging"]
structlog = ["structlog"]


[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 120
include = '\.pyi?$'

[tool.isort]
profile = "black"
multi_line_output = 3

[tool.pylint.MESSAGE_CONTROL]
disable = [
  "cyclic-import",
  "duplicate-code",
  "line-too-long",
  "missing-class-docstring",
  "missing-module-docstring",
  "super-init-not-called",
  "too-few-public-methods",
  "too-many-ancestors",
  "too-many-arguments",
  "too-many-branches",
  "too-many-instance-attributes",
  "too-many-lines",
  "too-many-locals",
  "too-many-return-statements",
  "ungrouped-imports",
  "unnecessary-ellipsis",
  "unused-import",
]
enable = "useless-suppression"
extension-pkg-allow-list = ["pydantic","orjson","picologging"]

[tool.pylint.REPORTS]
reports = "no"

[tool.pylint.FORMAT]
max-line-length = "120"

[tool.pylint.VARIABLES]
ignored-argument-names = "args|kwargs|_|__"

[tool.pylint.BASIC]
good-names = "_,__,i,e,k,v,fn,get,post,put,patch,delete,route,asgi,websocket,Dependency,Body,Parameter,HandlerType,ScopeType,Auth,User"
no-docstring-rgx="(__.*__|main|test.*|.*test|.*Test|^_.*)$"

[tool.pylint.LOGGING]
logging-modules=["logging","picologging", "structlog"]

[tool.coverage.run]
omit = ["*/tests/*"]

[tool.coverage.report]
exclude_lines = [
    'pragma: no cover',
    'if TYPE_CHECKING:',
    'except ImportError as e:',
    'except ImportError:',
    '\.\.\.'
]

[tool.pytest.ini_options]
addopts = "--ignore=examples"
asyncio_mode = "auto"

[tool.pycln]
all = true

[tool.pyright]
include = ["starlite", "tests", "examples"]
exclude = ["starlite/plugins", "tests/plugins", "starlite/openapi", "tests/openapi"]
