html[data-theme="light"] .highlight pre { line-height: 125%; }
html[data-theme="light"] .highlight td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
html[data-theme="light"] .highlight span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
html[data-theme="light"] .highlight td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
html[data-theme="light"] .highlight span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
html[data-theme="light"] .highlight .hll { background-color: #ffffcc }
html[data-theme="light"] .highlight { background: #ffffff; }
html[data-theme="light"] .highlight .c { color: #177500 } /* Comment */
html[data-theme="light"] .highlight .err { color: #000 } /* Error */
html[data-theme="light"] .highlight .k { color: #A90D91 } /* Keyword */
html[data-theme="light"] .highlight .l { color: #1C01CE } /* Literal */
html[data-theme="light"] .highlight .n { color: #000 } /* Name */
html[data-theme="light"] .highlight .o { color: #000 } /* Operator */
html[data-theme="light"] .highlight .ch { color: #177500 } /* Comment.Hashbang */
html[data-theme="light"] .highlight .cm { color: #177500 } /* Comment.Multiline */
html[data-theme="light"] .highlight .cp { color: #633820 } /* Comment.Preproc */
html[data-theme="light"] .highlight .cpf { color: #177500 } /* Comment.PreprocFile */
html[data-theme="light"] .highlight .c1 { color: #177500 } /* Comment.Single */
html[data-theme="light"] .highlight .cs { color: #177500 } /* Comment.Special */
html[data-theme="light"] .highlight .kc { color: #A90D91 } /* Keyword.Constant */
html[data-theme="light"] .highlight .kd { color: #A90D91 } /* Keyword.Declaration */
html[data-theme="light"] .highlight .kn { color: #A90D91 } /* Keyword.Namespace */
html[data-theme="light"] .highlight .kp { color: #A90D91 } /* Keyword.Pseudo */
html[data-theme="light"] .highlight .kr { color: #A90D91 } /* Keyword.Reserved */
html[data-theme="light"] .highlight .kt { color: #A90D91 } /* Keyword.Type */
html[data-theme="light"] .highlight .ld { color: #1C01CE } /* Literal.Date */
html[data-theme="light"] .highlight .m { color: #1C01CE } /* Literal.Number */
html[data-theme="light"] .highlight .s { color: #C41A16 } /* Literal.String */
html[data-theme="light"] .highlight .na { color: #836C28 } /* Name.Attribute */
html[data-theme="light"] .highlight .nb { color: #A90D91 } /* Name.Builtin */
html[data-theme="light"] .highlight .nc { color: #3F6E75 } /* Name.Class */
html[data-theme="light"] .highlight .no { color: #000 } /* Name.Constant */
html[data-theme="light"] .highlight .nd { color: #000 } /* Name.Decorator */
html[data-theme="light"] .highlight .ni { color: #000 } /* Name.Entity */
html[data-theme="light"] .highlight .ne { color: #000 } /* Name.Exception */
html[data-theme="light"] .highlight .nf { color: #000 } /* Name.Function */
html[data-theme="light"] .highlight .nl { color: #000 } /* Name.Label */
html[data-theme="light"] .highlight .nn { color: #000 } /* Name.Namespace */
html[data-theme="light"] .highlight .nx { color: #000 } /* Name.Other */
html[data-theme="light"] .highlight .py { color: #000 } /* Name.Property */
html[data-theme="light"] .highlight .nt { color: #000 } /* Name.Tag */
html[data-theme="light"] .highlight .nv { color: #000 } /* Name.Variable */
html[data-theme="light"] .highlight .ow { color: #000 } /* Operator.Word */
html[data-theme="light"] .highlight .mb { color: #1C01CE } /* Literal.Number.Bin */
html[data-theme="light"] .highlight .mf { color: #1C01CE } /* Literal.Number.Float */
html[data-theme="light"] .highlight .mh { color: #1C01CE } /* Literal.Number.Hex */
html[data-theme="light"] .highlight .mi { color: #1C01CE } /* Literal.Number.Integer */
html[data-theme="light"] .highlight .mo { color: #1C01CE } /* Literal.Number.Oct */
html[data-theme="light"] .highlight .sa { color: #C41A16 } /* Literal.String.Affix */
html[data-theme="light"] .highlight .sb { color: #C41A16 } /* Literal.String.Backtick */
html[data-theme="light"] .highlight .sc { color: #2300CE } /* Literal.String.Char */
html[data-theme="light"] .highlight .dl { color: #C41A16 } /* Literal.String.Delimiter */
html[data-theme="light"] .highlight .sd { color: #C41A16 } /* Literal.String.Doc */
html[data-theme="light"] .highlight .s2 { color: #C41A16 } /* Literal.String.Double */
html[data-theme="light"] .highlight .se { color: #C41A16 } /* Literal.String.Escape */
html[data-theme="light"] .highlight .sh { color: #C41A16 } /* Literal.String.Heredoc */
html[data-theme="light"] .highlight .si { color: #C41A16 } /* Literal.String.Interpol */
html[data-theme="light"] .highlight .sx { color: #C41A16 } /* Literal.String.Other */
html[data-theme="light"] .highlight .sr { color: #C41A16 } /* Literal.String.Regex */
html[data-theme="light"] .highlight .s1 { color: #C41A16 } /* Literal.String.Single */
html[data-theme="light"] .highlight .ss { color: #C41A16 } /* Literal.String.Symbol */
html[data-theme="light"] .highlight .bp { color: #5B269A } /* Name.Builtin.Pseudo */
html[data-theme="light"] .highlight .fm { color: #000 } /* Name.Function.Magic */
html[data-theme="light"] .highlight .vc { color: #000 } /* Name.Variable.Class */
html[data-theme="light"] .highlight .vg { color: #000 } /* Name.Variable.Global */
html[data-theme="light"] .highlight .vi { color: #000 } /* Name.Variable.Instance */
html[data-theme="light"] .highlight .vm { color: #000 } /* Name.Variable.Magic */
html[data-theme="light"] .highlight .il { color: #1C01CE } /* Literal.Number.Integer.Long */
html[data-theme="dark"] .highlight pre { line-height: 125%; }
html[data-theme="dark"] .highlight td.linenos .normal { color: #3c4354; background-color: transparent; padding-left: 5px; padding-right: 5px; }
html[data-theme="dark"] .highlight span.linenos { color: #3c4354; background-color: transparent; padding-left: 5px; padding-right: 5px; }
html[data-theme="dark"] .highlight td.linenos .special { color: #3c4354; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
html[data-theme="dark"] .highlight span.linenos.special { color: #3c4354; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
html[data-theme="dark"] .highlight .hll { background-color: #6e7681 }
html[data-theme="dark"] .highlight { background: #1d2331; color: #D4D2C8 }
html[data-theme="dark"] .highlight .c { color: #7E8AA1 } /* Comment */
html[data-theme="dark"] .highlight .err { color: #F88F7F } /* Error */
html[data-theme="dark"] .highlight .esc { color: #D4D2C8 } /* Escape */
html[data-theme="dark"] .highlight .g { color: #D4D2C8 } /* Generic */
html[data-theme="dark"] .highlight .k { color: #FFAD66 } /* Keyword */
html[data-theme="dark"] .highlight .l { color: #D5FF80 } /* Literal */
html[data-theme="dark"] .highlight .n { color: #D4D2C8 } /* Name */
html[data-theme="dark"] .highlight .o { color: #FFAD66 } /* Operator */
html[data-theme="dark"] .highlight .x { color: #D4D2C8 } /* Other */
html[data-theme="dark"] .highlight .p { color: #D4D2C8 } /* Punctuation */
html[data-theme="dark"] .highlight .ch { color: #F88F7F; font-style: italic } /* Comment.Hashbang */
html[data-theme="dark"] .highlight .cm { color: #7E8AA1 } /* Comment.Multiline */
html[data-theme="dark"] .highlight .cp { color: #FFAD66; font-weight: bold } /* Comment.Preproc */
html[data-theme="dark"] .highlight .cpf { color: #7E8AA1 } /* Comment.PreprocFile */
html[data-theme="dark"] .highlight .c1 { color: #7E8AA1 } /* Comment.Single */
html[data-theme="dark"] .highlight .cs { color: #7E8AA1; font-style: italic } /* Comment.Special */
html[data-theme="dark"] .highlight .gd { color: #F88F7F; background-color: #3D1E20 } /* Generic.Deleted */
html[data-theme="dark"] .highlight .ge { color: #D4D2C8; font-style: italic } /* Generic.Emph */
html[data-theme="dark"] .highlight .ges { color: #D4D2C8 } /* Generic.EmphStrong */
html[data-theme="dark"] .highlight .gr { color: #F88F7F } /* Generic.Error */
html[data-theme="dark"] .highlight .gh { color: #D4D2C8 } /* Generic.Heading */
html[data-theme="dark"] .highlight .gi { color: #6AD4AF; background-color: #19362C } /* Generic.Inserted */
html[data-theme="dark"] .highlight .go { color: #7E8AA1 } /* Generic.Output */
html[data-theme="dark"] .highlight .gp { color: #D4D2C8 } /* Generic.Prompt */
html[data-theme="dark"] .highlight .gs { color: #D4D2C8; font-weight: bold } /* Generic.Strong */
html[data-theme="dark"] .highlight .gu { color: #D4D2C8 } /* Generic.Subheading */
html[data-theme="dark"] .highlight .gt { color: #F88F7F } /* Generic.Traceback */
html[data-theme="dark"] .highlight .kc { color: #FFAD66 } /* Keyword.Constant */
html[data-theme="dark"] .highlight .kd { color: #FFAD66 } /* Keyword.Declaration */
html[data-theme="dark"] .highlight .kn { color: #FFAD66 } /* Keyword.Namespace */
html[data-theme="dark"] .highlight .kp { color: #FFAD66 } /* Keyword.Pseudo */
html[data-theme="dark"] .highlight .kr { color: #FFAD66 } /* Keyword.Reserved */
html[data-theme="dark"] .highlight .kt { color: #73D0FF } /* Keyword.Type */
html[data-theme="dark"] .highlight .ld { color: #D5FF80 } /* Literal.Date */
html[data-theme="dark"] .highlight .m { color: #DFBFFF } /* Literal.Number */
html[data-theme="dark"] .highlight .s { color: #D5FF80 } /* Literal.String */
html[data-theme="dark"] .highlight .na { color: #FFD173 } /* Name.Attribute */
html[data-theme="dark"] .highlight .nb { color: #FFD173 } /* Name.Builtin */
html[data-theme="dark"] .highlight .nc { color: #73D0FF } /* Name.Class */
html[data-theme="dark"] .highlight .no { color: #FFD173 } /* Name.Constant */
html[data-theme="dark"] .highlight .nd { color: #7E8AA1; font-weight: bold; font-style: italic } /* Name.Decorator */
html[data-theme="dark"] .highlight .ni { color: #95E6CB } /* Name.Entity */
html[data-theme="dark"] .highlight .ne { color: #73D0FF } /* Name.Exception */
html[data-theme="dark"] .highlight .nf { color: #FFD173 } /* Name.Function */
html[data-theme="dark"] .highlight .nl { color: #D4D2C8 } /* Name.Label */
html[data-theme="dark"] .highlight .nn { color: #D4D2C8 } /* Name.Namespace */
html[data-theme="dark"] .highlight .nx { color: #D4D2C8 } /* Name.Other */
html[data-theme="dark"] .highlight .py { color: #FFD173 } /* Name.Property */
html[data-theme="dark"] .highlight .nt { color: #5CCFE6 } /* Name.Tag */
html[data-theme="dark"] .highlight .nv { color: #D4D2C8 } /* Name.Variable */
html[data-theme="dark"] .highlight .ow { color: #FFAD66 } /* Operator.Word */
html[data-theme="dark"] .highlight .pm { color: #D4D2C8 } /* Punctuation.Marker */
html[data-theme="dark"] .highlight .w { color: #D4D2C8 } /* Text.Whitespace */
html[data-theme="dark"] .highlight .mb { color: #DFBFFF } /* Literal.Number.Bin */
html[data-theme="dark"] .highlight .mf { color: #DFBFFF } /* Literal.Number.Float */
html[data-theme="dark"] .highlight .mh { color: #DFBFFF } /* Literal.Number.Hex */
html[data-theme="dark"] .highlight .mi { color: #DFBFFF } /* Literal.Number.Integer */
html[data-theme="dark"] .highlight .mo { color: #DFBFFF } /* Literal.Number.Oct */
html[data-theme="dark"] .highlight .sa { color: #F29E74 } /* Literal.String.Affix */
html[data-theme="dark"] .highlight .sb { color: #D5FF80 } /* Literal.String.Backtick */
html[data-theme="dark"] .highlight .sc { color: #D5FF80 } /* Literal.String.Char */
html[data-theme="dark"] .highlight .dl { color: #D5FF80 } /* Literal.String.Delimiter */
html[data-theme="dark"] .highlight .sd { color: #7E8AA1 } /* Literal.String.Doc */
html[data-theme="dark"] .highlight .s2 { color: #D5FF80 } /* Literal.String.Double */
html[data-theme="dark"] .highlight .se { color: #95E6CB } /* Literal.String.Escape */
html[data-theme="dark"] .highlight .sh { color: #D5FF80 } /* Literal.String.Heredoc */
html[data-theme="dark"] .highlight .si { color: #95E6CB } /* Literal.String.Interpol */
html[data-theme="dark"] .highlight .sx { color: #95E6CB } /* Literal.String.Other */
html[data-theme="dark"] .highlight .sr { color: #95E6CB } /* Literal.String.Regex */
html[data-theme="dark"] .highlight .s1 { color: #D5FF80 } /* Literal.String.Single */
html[data-theme="dark"] .highlight .ss { color: #DFBFFF } /* Literal.String.Symbol */
html[data-theme="dark"] .highlight .bp { color: #5CCFE6 } /* Name.Builtin.Pseudo */
html[data-theme="dark"] .highlight .fm { color: #FFD173 } /* Name.Function.Magic */
html[data-theme="dark"] .highlight .vc { color: #D4D2C8 } /* Name.Variable.Class */
html[data-theme="dark"] .highlight .vg { color: #D4D2C8 } /* Name.Variable.Global */
html[data-theme="dark"] .highlight .vi { color: #D4D2C8 } /* Name.Variable.Instance */
html[data-theme="dark"] .highlight .vm { color: #D4D2C8 } /* Name.Variable.Magic */
html[data-theme="dark"] .highlight .il { color: #DFBFFF } /* Literal.Number.Integer.Long */