:root {
--syntax-light-background: #FAFAFA;
--syntax-light-highlight: #E5E5E6;
--syntax-light-text: #383A42;
--syntax-light-escape: #0184BC;
--syntax-light-error: #CA1243;
--syntax-light-keyword: #A626A4;
--syntax-light-keyword-constant: #986801;
--syntax-light-keyword-pseudo: #4078F2;
--syntax-light-keyword-type: #986801;
--syntax-light-name-attribute: #986801;
--syntax-light-name-builtin: #0184BC;
--syntax-light-name-builtin-pseudo: #C18401;
--syntax-light-name-class: #C18401;
--syntax-light-name-constant: #C18401;
--syntax-light-name-decorator: #0184BC;
--syntax-light-name-exception: #0184BC;
--syntax-light-name-function: #4078F2;
--syntax-light-name-label: #4078F2;
--syntax-light-name-tag: #E45649;
--syntax-light-name-variable: #E45649;
--syntax-light-literal: #50A14F;
--syntax-light-literal-string: #50A14F;
--syntax-light-literal-string-affix: #A626A4;
--syntax-light-literal-string-backtick: #50A14F;
--syntax-light-literal-string-escape: #0184BC;
--syntax-light-literal-string-interpol: #986801;
--syntax-light-literal-string-regex: #E45649;
--syntax-light-literal-string-symbol: #0184BC;
--syntax-light-literal-number: #986801;
--syntax-light-operator: #0184BC;
--syntax-light-comment: #A0A1A7;
--syntax-light-comment-multiline: #A0A1A7;
--syntax-light-comment-preproc: #A626A4;
--syntax-light-comment-preprocfile: #50A14F;
--syntax-light-comment-single: #A0A1A7;
--syntax-light-generic-deleted: #E45649;
--syntax-light-generic-emph: #A626A4;
--syntax-light-generic-error: #CA1243;
--syntax-light-generic-heading: #E45649;
--syntax-light-generic-inserted: #50A14F;
--syntax-light-generic-output: #50A14F;
--syntax-light-generic-prompt: #9D9D9F;
--syntax-light-generic-strong: #986801;
--syntax-light-generic-subheading: #E45649;
--syntax-light-generic-traceback: #CA1243;
--syntax-light-text-whitespace: #383A42;
--syntax-light-keyword-declaration: #A626A4;
--syntax-light-keyword-namespace: #A626A4;
--syntax-light-keyword-reserved: #A626A4;
--syntax-light-name-function-magic: #4078F2;
--syntax-light-name-variable-class: #E45649;
--syntax-light-name-variable-global: #E45649;
--syntax-light-name-variable-instance: #E45649;
--syntax-light-name-variable-magic: #E45649;
--syntax-light-literal-date: #50A14F;
--syntax-light-literal-string-char: #50A14F;
--syntax-light-literal-string-delimiter: #50A14F;
--syntax-light-literal-string-doc: #50A14F;
--syntax-light-literal-string-double: #50A14F;
--syntax-light-literal-string-heredoc: #50A14F;
--syntax-light-literal-string-other: #50A14F;
--syntax-light-literal-string-single: #50A14F;
--syntax-light-literal-number-bin: #986801;
--syntax-light-literal-number-float: #986801;
--syntax-light-literal-number-hex: #986801;
--syntax-light-literal-number-integer: #986801;
--syntax-light-literal-number-integer-long: #986801;
--syntax-light-literal-number-oct: #986801;
--syntax-light-operator-word: #0184BC;
--syntax-light-comment-hashbang: #A0A1A7;
--syntax-light-comment-special: #A0A1A7;
}
html.light .highlight .c { color: var(--syntax-light-comment) }
html.light .highlight .err { color: var(--syntax-light-error) }
html.light .highlight .esc { color: var(--syntax-light-escape) }
html.light .highlight .k { color: var(--syntax-light-keyword) }
html.light .highlight .l { color: var(--syntax-light-literal) }
html.light .highlight .o { color: var(--syntax-light-operator) }
html.light .highlight .ch { color: var(--syntax-light-comment-hashbang) }
html.light .highlight .cm { color: var(--syntax-light-comment-multiline); font-style: italic }
html.light .highlight .cp { color: var(--syntax-light-comment-preproc) }
html.light .highlight .cpf { color: var(--syntax-light-comment-preprocfile) }
html.light .highlight .c1 { color: var(--syntax-light-comment-single); font-style: italic }
html.light .highlight .cs { color: var(--syntax-light-comment-special) }
html.light .highlight .gd { color: var(--syntax-light-generic-deleted) }
html.light .highlight .ge { color: var(--syntax-light-generic-emph); font-style: italic }
html.light .highlight .gr { color: var(--syntax-light-generic-error) }
html.light .highlight .gh { color: var(--syntax-light-generic-heading) }
html.light .highlight .gi { color: var(--syntax-light-generic-inserted) }
html.light .highlight .go { color: var(--syntax-light-generic-output) }
html.light .highlight .gp { color: var(--syntax-light-generic-prompt) }
html.light .highlight .gs { color: var(--syntax-light-generic-strong) }
html.light .highlight .gu { color: var(--syntax-light-generic-subheading) }
html.light .highlight .gt { color: var(--syntax-light-generic-traceback) }
html.light .highlight .kc { color: var(--syntax-light-keyword-constant) }
html.light .highlight .kd { color: var(--syntax-light-keyword-declaration) }
html.light .highlight .kn { color: var(--syntax-light-keyword-namespace) }
html.light .highlight .kp { color: var(--syntax-light-keyword-pseudo) }
html.light .highlight .kr { color: var(--syntax-light-keyword-reserved) }
html.light .highlight .kt { color: var(--syntax-light-keyword-type) }
html.light .highlight .ld { color: var(--syntax-light-literal-date) }
html.light .highlight .m { color: var(--syntax-light-literal-number) }
html.light .highlight .s { color: var(--syntax-light-literal-string) }
html.light .highlight .na { color: var(--syntax-light-name-attribute) }
html.light .highlight .nb { color: var(--syntax-light-name-builtin) }
html.light .highlight .nc { color: var(--syntax-light-name-class) }
html.light .highlight .no { color: var(--syntax-light-name-constant) }
html.light .highlight .nd { color: var(--syntax-light-name-decorator) }
html.light .highlight .ne { color: var(--syntax-light-name-exception) }
html.light .highlight .nf { color: var(--syntax-light-name-function) }
html.light .highlight .nl { color: var(--syntax-light-name-label) }
html.light .highlight .nt { color: var(--syntax-light-name-tag) }
html.light .highlight .nv { color: var(--syntax-light-name-variable) }
html.light .highlight .ow { color: var(--syntax-light-operator-word) }
html.light .highlight .w { color: var(--syntax-light-text-whitespace) }
html.light .highlight .mb { color: var(--syntax-light-literal-number-bin) }
html.light .highlight .mf { color: var(--syntax-light-literal-number-float) }
html.light .highlight .mh { color: var(--syntax-light-literal-number-hex) }
html.light .highlight .mi { color: var(--syntax-light-literal-number-integer) }
html.light .highlight .mo { color: var(--syntax-light-literal-number-oct) }
html.light .highlight .sa { color: var(--syntax-light-literal-string-affix) }
html.light .highlight .sb { color: var(--syntax-light-literal-string-backtick) }
html.light .highlight .sc { color: var(--syntax-light-literal-string-char) }
html.light .highlight .dl { color: var(--syntax-light-literal-string-delimiter) }
html.light .highlight .sd { color: var(--syntax-light-literal-string-doc) }
html.light .highlight .s2 { color: var(--syntax-light-literal-string-double) }
html.light .highlight .se { color: var(--syntax-light-literal-string-escape) }
html.light .highlight .sh { color: var(--syntax-light-literal-string-heredoc) }
html.light .highlight .si { color: var(--syntax-light-literal-string-interpol) }
html.light .highlight .sx { color: var(--syntax-light-literal-string-other) }
html.light .highlight .sr { color: var(--syntax-light-literal-string-regex) }
html.light .highlight .s1 { color: var(--syntax-light-literal-string-single) }
html.light .highlight .ss { color: var(--syntax-light-literal-string-symbol) }
html.light .highlight .bp { color: var(--syntax-light-name-builtin-pseudo) }
html.light .highlight .fm { color: var(--syntax-light-name-function-magic) }
html.light .highlight .vc { color: var(--syntax-light-name-variable-class) }
html.light .highlight .vg { color: var(--syntax-light-name-variable-global) }
html.light .highlight .vi { color: var(--syntax-light-name-variable-instance) }
html.light .highlight .vm { color: var(--syntax-light-name-variable-magic) }
html.light .highlight .il { color: var(--syntax-light-literal-number-integer-long) }
:root {
--syntax-dark-background: #282c34;
--syntax-dark-highlight: #67769660;
--syntax-dark-text: #ABB2BF;
--syntax-dark-escape: #56B6C2;
--syntax-dark-error: #E06C75;
--syntax-dark-keyword: #C678DD;
--syntax-dark-keyword-constant: #D19A66;
--syntax-dark-keyword-pseudo: #61AFEF;
--syntax-dark-keyword-type: #D19A66;
--syntax-dark-name-attribute: #D19A66;
--syntax-dark-name-builtin: #56B6C2;
--syntax-dark-name-builtin-pseudo: #E5C07B;
--syntax-dark-name-class: #E5C07B;
--syntax-dark-name-constant: #E5C07B;
--syntax-dark-name-decorator: #56B6C2;
--syntax-dark-name-exception: #56B6C2;
--syntax-dark-name-function: #61AFEF;
--syntax-dark-name-label: #61AFEF;
--syntax-dark-name-tag: #E06C75;
--syntax-dark-name-variable: #E06C75;
--syntax-dark-literal: #98C379;
--syntax-dark-literal-string: #98C379;
--syntax-dark-literal-string-affix: #C678DD;
--syntax-dark-literal-string-backtick: #98C379;
--syntax-dark-literal-string-escape: #56B6C2;
--syntax-dark-literal-string-interpol: #D19A66;
--syntax-dark-literal-string-regex: #E06C75;
--syntax-dark-literal-string-symbol: #56B6C2;
--syntax-dark-literal-number: #D19A66;
--syntax-dark-operator: #56B6C2;
--syntax-dark-comment: #7F848E;
--syntax-dark-comment-multiline: #7F848E;
--syntax-dark-comment-preproc: #C678DD;
--syntax-dark-comment-preprocfile: #98C379;
--syntax-dark-comment-single: #7F848E;
--syntax-dark-generic-deleted: #E06C75;
--syntax-dark-generic-emph: #C678DD;
--syntax-dark-generic-error: #E06C75;
--syntax-dark-generic-heading: #E06C75;
--syntax-dark-generic-inserted: #98C379;
--syntax-dark-generic-output: #98C379;
--syntax-dark-generic-prompt: #5C6370;
--syntax-dark-generic-strong: #D19A66;
--syntax-dark-generic-subheading: #E06C75;
--syntax-dark-generic-traceback: #E06C75;
--syntax-dark-text-whitespace: #ABB2BF;
--syntax-dark-keyword-declaration: #C678DD;
--syntax-dark-keyword-namespace: #C678DD;
--syntax-dark-keyword-reserved: #C678DD;
--syntax-dark-name-function-magic: #61AFEF;
--syntax-dark-name-variable-class: #E06C75;
--syntax-dark-name-variable-global: #E06C75;
--syntax-dark-name-variable-instance: #E06C75;
--syntax-dark-name-variable-magic: #E06C75;
--syntax-dark-literal-date: #98C379;
--syntax-dark-literal-string-char: #98C379;
--syntax-dark-literal-string-delimiter: #98C379;
--syntax-dark-literal-string-doc: #98C379;
--syntax-dark-literal-string-double: #98C379;
--syntax-dark-literal-string-heredoc: #98C379;
--syntax-dark-literal-string-other: #98C379;
--syntax-dark-literal-string-single: #98C379;
--syntax-dark-literal-number-bin: #D19A66;
--syntax-dark-literal-number-float: #D19A66;
--syntax-dark-literal-number-hex: #D19A66;
--syntax-dark-literal-number-integer: #D19A66;
--syntax-dark-literal-number-integer-long: #D19A66;
--syntax-dark-literal-number-oct: #D19A66;
--syntax-dark-operator-word: #56B6C2;
--syntax-dark-comment-hashbang: #7F848E;
--syntax-dark-comment-special: #7F848E;
}
html.dark .highlight .c, html.light .dark-code .highlight .c { color: var(--syntax-dark-comment) }
html.dark .highlight .err, html.light .dark-code .highlight .err { color: var(--syntax-dark-error) }
html.dark .highlight .esc, html.light .dark-code .highlight .esc { color: var(--syntax-dark-escape) }
html.dark .highlight .k, html.light .dark-code .highlight .k { color: var(--syntax-dark-keyword) }
html.dark .highlight .l, html.light .dark-code .highlight .l { color: var(--syntax-dark-literal) }
html.dark .highlight .o, html.light .dark-code .highlight .o { color: var(--syntax-dark-operator) }
html.dark .highlight .ch, html.light .dark-code .highlight .ch { color: var(--syntax-dark-comment-hashbang) }
html.dark .highlight .cm, html.light .dark-code .highlight .cm { color: var(--syntax-dark-comment-multiline); font-style: italic }
html.dark .highlight .cp, html.light .dark-code .highlight .cp { color: var(--syntax-dark-comment-preproc) }
html.dark .highlight .cpf, html.light .dark-code .highlight .cpf { color: var(--syntax-dark-comment-preprocfile) }
html.dark .highlight .c1, html.light .dark-code .highlight .c1 { color: var(--syntax-dark-comment-single); font-style: italic }
html.dark .highlight .cs, html.light .dark-code .highlight .cs { color: var(--syntax-dark-comment-special) }
html.dark .highlight .gd, html.light .dark-code .highlight .gd { color: var(--syntax-dark-generic-deleted) }
html.dark .highlight .ge, html.light .dark-code .highlight .ge { color: var(--syntax-dark-generic-emph); font-style: italic }
html.dark .highlight .gr, html.light .dark-code .highlight .gr { color: var(--syntax-dark-generic-error) }
html.dark .highlight .gh, html.light .dark-code .highlight .gh { color: var(--syntax-dark-generic-heading) }
html.dark .highlight .gi, html.light .dark-code .highlight .gi { color: var(--syntax-dark-generic-inserted) }
html.dark .highlight .go, html.light .dark-code .highlight .go { color: var(--syntax-dark-generic-output) }
html.dark .highlight .gp, html.light .dark-code .highlight .gp { color: var(--syntax-dark-generic-prompt) }
html.dark .highlight .gs, html.light .dark-code .highlight .gs { color: var(--syntax-dark-generic-strong) }
html.dark .highlight .gu, html.light .dark-code .highlight .gu { color: var(--syntax-dark-generic-subheading) }
html.dark .highlight .gt, html.light .dark-code .highlight .gt { color: var(--syntax-dark-generic-traceback) }
html.dark .highlight .kc, html.light .dark-code .highlight .kc { color: var(--syntax-dark-keyword-constant) }
html.dark .highlight .kd, html.light .dark-code .highlight .kd { color: var(--syntax-dark-keyword-declaration) }
html.dark .highlight .kn, html.light .dark-code .highlight .kn { color: var(--syntax-dark-keyword-namespace) }
html.dark .highlight .kp, html.light .dark-code .highlight .kp { color: var(--syntax-dark-keyword-pseudo) }
html.dark .highlight .kr, html.light .dark-code .highlight .kr { color: var(--syntax-dark-keyword-reserved) }
html.dark .highlight .kt, html.light .dark-code .highlight .kt { color: var(--syntax-dark-keyword-type) }
html.dark .highlight .ld, html.light .dark-code .highlight .ld { color: var(--syntax-dark-literal-date) }
html.dark .highlight .m, html.light .dark-code .highlight .m { color: var(--syntax-dark-literal-number) }
html.dark .highlight .s, html.light .dark-code .highlight .s { color: var(--syntax-dark-literal-string) }
html.dark .highlight .na, html.light .dark-code .highlight .na { color: var(--syntax-dark-name-attribute) }
html.dark .highlight .nb, html.light .dark-code .highlight .nb { color: var(--syntax-dark-name-builtin) }
html.dark .highlight .nc, html.light .dark-code .highlight .nc { color: var(--syntax-dark-name-class) }
html.dark .highlight .no, html.light .dark-code .highlight .no { color: var(--syntax-dark-name-constant) }
html.dark .highlight .nd, html.light .dark-code .highlight .nd { color: var(--syntax-dark-name-decorator) }
html.dark .highlight .ne, html.light .dark-code .highlight .ne { color: var(--syntax-dark-name-exception) }
html.dark .highlight .nf, html.light .dark-code .highlight .nf { color: var(--syntax-dark-name-function) }
html.dark .highlight .nl, html.light .dark-code .highlight .nl { color: var(--syntax-dark-name-label) }
html.dark .highlight .nt, html.light .dark-code .highlight .nt { color: var(--syntax-dark-name-tag) }
html.dark .highlight .nv, html.light .dark-code .highlight .nv { color: var(--syntax-dark-name-variable) }
html.dark .highlight .ow, html.light .dark-code .highlight .ow { color: var(--syntax-dark-operator-word) }
html.dark .highlight .w, html.light .dark-code .highlight .w { color: var(--syntax-dark-text-whitespace) }
html.dark .highlight .mb, html.light .dark-code .highlight .mb { color: var(--syntax-dark-literal-number-bin) }
html.dark .highlight .mf, html.light .dark-code .highlight .mf { color: var(--syntax-dark-literal-number-float) }
html.dark .highlight .mh, html.light .dark-code .highlight .mh { color: var(--syntax-dark-literal-number-hex) }
html.dark .highlight .mi, html.light .dark-code .highlight .mi { color: var(--syntax-dark-literal-number-integer) }
html.dark .highlight .mo, html.light .dark-code .highlight .mo { color: var(--syntax-dark-literal-number-oct) }
html.dark .highlight .sa, html.light .dark-code .highlight .sa { color: var(--syntax-dark-literal-string-affix) }
html.dark .highlight .sb, html.light .dark-code .highlight .sb { color: var(--syntax-dark-literal-string-backtick) }
html.dark .highlight .sc, html.light .dark-code .highlight .sc { color: var(--syntax-dark-literal-string-char) }
html.dark .highlight .dl, html.light .dark-code .highlight .dl { color: var(--syntax-dark-literal-string-delimiter) }
html.dark .highlight .sd, html.light .dark-code .highlight .sd { color: var(--syntax-dark-literal-string-doc) }
html.dark .highlight .s2, html.light .dark-code .highlight .s2 { color: var(--syntax-dark-literal-string-double) }
html.dark .highlight .se, html.light .dark-code .highlight .se { color: var(--syntax-dark-literal-string-escape) }
html.dark .highlight .sh, html.light .dark-code .highlight .sh { color: var(--syntax-dark-literal-string-heredoc) }
html.dark .highlight .si, html.light .dark-code .highlight .si { color: var(--syntax-dark-literal-string-interpol) }
html.dark .highlight .sx, html.light .dark-code .highlight .sx { color: var(--syntax-dark-literal-string-other) }
html.dark .highlight .sr, html.light .dark-code .highlight .sr { color: var(--syntax-dark-literal-string-regex) }
html.dark .highlight .s1, html.light .dark-code .highlight .s1 { color: var(--syntax-dark-literal-string-single) }
html.dark .highlight .ss, html.light .dark-code .highlight .ss { color: var(--syntax-dark-literal-string-symbol) }
html.dark .highlight .bp, html.light .dark-code .highlight .bp { color: var(--syntax-dark-name-builtin-pseudo) }
html.dark .highlight .fm, html.light .dark-code .highlight .fm { color: var(--syntax-dark-name-function-magic) }
html.dark .highlight .vc, html.light .dark-code .highlight .vc { color: var(--syntax-dark-name-variable-class) }
html.dark .highlight .vg, html.light .dark-code .highlight .vg { color: var(--syntax-dark-name-variable-global) }
html.dark .highlight .vi, html.light .dark-code .highlight .vi { color: var(--syntax-dark-name-variable-instance) }
html.dark .highlight .vm, html.light .dark-code .highlight .vm { color: var(--syntax-dark-name-variable-magic) }
html.dark .highlight .il, html.light .dark-code .highlight .il { color: var(--syntax-dark-literal-number-integer-long) }
