.highlight { color: var(--syntax-text); background-color: transparent }
.highlight .hll { display: block; background-color: var(--syntax-highlight-bg) }
.highlight .c { color: var(--syntax-comment) } /* Comment */
.highlight .err { color: var(--syntax-invalid-illegal-text); background-color: var(--syntax-invalid-illegal-bg) } /* Error */
.highlight .g { color: var(--syntax-meta) } /* Generic */
.highlight .k { color: var(--syntax-keyword) } /* Keyword */
.highlight .l { color: var(--syntax-meta) } /* Literal */
.highlight .o { color: var(--syntax-constant) } /* Operator */
.highlight .x { color: var(--syntax-meta) } /* Other */
.highlight .cm { color: var(--syntax-comment) } /* Comment.Multiline */
.highlight .cp { color: var(--syntax-constant) } /* Comment.Preproc */
.highlight .c1 { color: var(--syntax-comment) } /* Comment.Single */
.highlight .cs { color: var(--syntax-comment); background-color: var(--syntax-special-bg) } /* Comment.Special */
.highlight .gd { color: var(--syntax-markup-deleted-text); background-color: var(--syntax-markup-deleted-bg) } /* Generic.Deleted */
.highlight .ge { color: var(--syntax-markup-italic); font-style: italic } /* Generic.Emph */
.highlight .gr { color: var(--syntax-invalid-illegal-text); background-color: var(--syntax-invalid-illegal-bg) } /* Generic.Error */
.highlight .gh { color: var(--syntax-markup-heading) } /* Generic.Heading */
.highlight .gi { color: var(--syntax-markup-inserted-text); background-color: var(--syntax-markup-inserted-bg) } /* Generic.Inserted */
.highlight .go { color: var(--syntax-meta) } /* Generic.Output */
.highlight .gp { color: var(--syntax-meta) } /* Generic.Prompt */
.highlight .gs { color: var(--syntax-markup-bold); font-weight: bold } /* Generic.Strong */
.highlight .gu { color: var(--syntax-markup-heading) } /* Generic.Subheading */
.highlight .gt { color: var(--syntax-meta) } /* Generic.Traceback */
.highlight .kc { color: var(--syntax-constant) } /* Keyword.Constant */
.highlight .kd { color: var(--syntax-keyword) } /* Keyword.Declaration */
.highlight .kn { color: var(--syntax-keyword) } /* Keyword.Namespace */
.highlight .kp { color: var(--syntax-keyword) } /* Keyword.Pseudo */
.highlight .kr { color: var(--syntax-keyword) } /* Keyword.Reserved */
.highlight .kt { color: var(--syntax-entity) } /* Keyword.Type */
.highlight .ld { color: var(--syntax-meta) } /* Literal.Date */
.highlight .m { color: var(--syntax-constant) } /* Literal.Number */
.highlight .s { color: var(--syntax-string) } /* Literal.String */
.highlight .il { color: var(--syntax-constant) } /* Literal.Number.Integer.Long */
.highlight .na { color: var(--syntax-constant) } /* Name.Attribute */
.highlight .nb { color: var(--syntax-builtin) } /* Name.Builtin */
.highlight .nc { color: var(--syntax-definition) } /* Name.Class */
.highlight .no { color: var(--syntax-constant) } /* Name.Constant */
.highlight .nd { color: var(--syntax-entity) } /* Name.Decorator */
.highlight .ni { color: var(--syntax-entity) } /* Name.Entity */
.highlight .ne { color: var(--syntax-exception) } /* Name.Exception */
.highlight .nf { color: var(--syntax-definition) } /* Name.Function */
.highlight .nt { color: var(--syntax-tag) } /* Name.Tag */
.highlight .ow { color: var(--syntax-constant) } /* Operator.Word */
.highlight .w { color: var(--syntax-meta) } /* Text.Whitespace */
.highlight .mf { color: var(--syntax-constant) } /* Literal.Number.Float */
.highlight .mh { color: var(--syntax-constant) } /* Literal.Number.Hex */
.highlight .mi { color: var(--syntax-constant) } /* Literal.Number.Integer */
.highlight .mo { color: var(--syntax-constant) } /* Literal.Number.Oct */
.highlight .sb { color: var(--syntax-meta) } /* Literal.String.Backtick */
.highlight .sc { color: var(--syntax-string) } /* Literal.String.Char */
.highlight .sd { color: var(--syntax-comment) } /* Literal.String.Doc */
.highlight .s2 { color: var(--syntax-string) } /* Literal.String.Double */
.highlight .se { color: var(--syntax-string) } /* Literal.String.Escape */
.highlight .sh { color: var(--syntax-comment) } /* Literal.String.Heredoc */
.highlight .si { color: var(--syntax-string) } /* Literal.String.Interpol */
.highlight .sx { color: var(--syntax-string) } /* Literal.String.Other */
.highlight .sr { color: var(--syntax-regexp) } /* Literal.String.Regex */
.highlight .s1 { color: var(--syntax-string) } /* Literal.String.Single */
.highlight .ss { color: var(--syntax-string) } /* Literal.String.Symbol */
.highlight .bp { color: var(--syntax-variable) } /* Name.Builtin.Pseudo */
.highlight .vc { color: var(--syntax-variable) } /* Name.Variable.Class */
.highlight .vg { color: var(--syntax-variable) } /* Name.Variable.Global */
.highlight .vi { color: var(--syntax-variable) } /* Name.Variable.Instance */
