#version-warning {
  top: 0;
  position: sticky;
  z-index: 60;
  width: 100%;
  height: 2.5rem;
  display: flex;
  column-gap: 0.5rem;
  justify-content: center;
  justify-items: center;
  align-items: center;
  background-color: #eee;
  border-bottom: 2px solid #ae2828;
}

@media (prefers-color-scheme: dark) {
  body:not([data-theme="light"]) #version-warning {
    background-color: black;
  }
}
