name: Documentation Building

on:
  release:
    types: [published]
  push:
    branches:
      - main
      - v3.0

env:
  UV_LOCKED: 1

jobs:
  docs:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install uv
        uses: astral-sh/setup-uv@v4
        with:
          version: "0.5.4"
          enable-cache: true

      - name: Install dependencies
        run: uv sync

      - name: Fetch gh pages
        run: git fetch origin gh-pages --depth=1

      - name: Build release docs
        run: uv run python tools/build_docs.py docs-build
        if: github.event_name == 'release'

      - name: Build docs (main branch)
        run: uv run python tools/build_docs.py docs-build --version main
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'

      - name: Build docs (v3.0 branch)
        run: uv run python tools/build_docs.py docs-build --version 3-dev
        if: github.event_name == 'push' && github.ref == 'refs/heads/v3.0'

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: docs-build
